# Dependencies
node_modules/

# Build output
dist/
build/

# Environment
.env
.env.local
*.env

# Prisma
prisma/migrations/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Test
coverage/
